body{
    margin: 0;
    padding: 0;
    background-color: #808080;
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
}

header{
  position: fixed;
  top: 0;
  display: flex;
  height: 15%;
  background: linear-gradient(#808080,90%, transparent);
}
.menu{
  font-weight:bold;
  padding-top: 3vh;
  width: 33.33%;
  font-size: 1.5vw;
  border-bottom: solid 1px #ffffff;
  border-right: solid 1px #ffffff;
}
.menu a{
  margin: 1vw;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.6vw;

}

.imglogoheader{
  max-width: 35%;

}
.logoheader{
  padding-top: 1%;
  width: 33.33%;
  border-bottom: solid 1px #ffffff;
}

.account{
  font-weight:bold;
  font-size: 1.5vw;
  padding-top: 3vh;
  width: 33.33%;
  text-align: right;
  border-bottom: solid 1px #ffffff;
  border-left: solid 1px #ffffff;
}
.account a{
  margin: 1vw;
  margin-top: 2px;
  padding-left: 2px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.6vw;
}
.content{
  margin-top: 6%;
  margin-left: 25%;
  padding: 3em;
}


img.logo{
	max-width: 70%;
}


@font-face {
    font-family: 'GeosansLight';
    src: url('../font/GeosansLight.ttf') format('truetype');
}
h1
{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: white;
}

a
{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #FFFFFF;
}

footer {
    position: fixed;
    bottom: 0;
    padding-left: 1%;
}
footer p
{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #ffffff;
    font-size: 0.9em;
}
.txtZone{
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  
  border: solid 1px #ffffff;
}
.chat{
  position: fixed;
  color: black;
  top: 13%;
  width: 25%;
  padding: 0.3em;
  height: 87%;
  left: 0;
}
.messagesborder{
    border: 1px solid #ffffff;
    width: 100%;
    height: 80%;
}

.messages{
    word-wrap : break-word;
    position: fixed;
    bottom: 17%;
    left: 0.6%;
    width: 24.6%;
    text-overflow: ellipsis;


}
.mask{
    background-color: #808080 ;
    top: 0;
    position: fixed;
    height: 13.6%;
    width: 24.6%;
    border-bottom: 1px solid #ffffff;



}
