body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
}

header{
  position: fixed;
  top: 0;
  display: flex;
  height: 15%;
  background:url(../Images/header.png) no-repeat;
  background-position: bottom;
  background-size: 100%;
}
#coinFlipSide{
  display: ;
}
#gameCoinFlipTag{
  border: 1px solid #808080;
  width: 20vw;
  font-size: 1.5em;
  font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
  border-radius: 20em;
  padding-left: 5px;
  height: 20vw;
}

.gameColorTagGrey{
  background-color: #81827d;
}
.gameColorTagYellow{
  background-color: #EDD602;
}

#gameColorTag{
  border: 1px solid #808080;
  width: 20vw;
  font-size: 1.5em;
  font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
  border-radius: 10px;
  padding-left: 5px;
  height: 50px;
}

.gameColorTagRed{
  background-color: #c50326;
}
.gameColorTagblue{
  background-color: #0d6af7;
}
.gameColorTaggreen{
  background-color: #13c924;
}
.gameColorTaggrey{
  background-color: #81827d;
}
.gameColorTagyellow{
  background-color: #EDD602;
}
.gameColorTagpurpul{
  background-color: #bc04a6;
}

.GameColorDisplaytop{
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.GameColorDisplaybot{
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.menu{
  font-weight:bold;
  padding-top: 3vh;
  width: 33.33%;
  font-size: 1.5vw;
}

.menu a{
  margin: 1vw;
  color: #808080;
  text-decoration: none;
  font-size: 1.6vw;
}

.imglogoheader{
  max-width: 60%;
}

.logoheader{
  padding-top: 1%;
  width: 33.33%;

}

.account{
  font-weight:bold;
  font-size: 1.5vw;
  padding-top: 3vh;
  width: 33.33%;
  text-align: right;
}

.homeGame{
  display: flex;
  justify-content: center;
  text-align: justify;
  padding: 2em;
}

.homeGameCoinflip{
  padding: 1em;
  border: 1px solid #808080;
  margin: 0.5em;
  width: 30%;
}


.homeGameRoulette{
  padding: 1em;
  border: 1px solid #808080;
  margin: 0.5em;
  width: 30%;
}

.homeGameColor{
  padding: 1em;
  border: 1px solid #808080;
  margin: 0.5em;
  width: 30%;
}
.ImgHomeColor{
  max-width: 15vw;
}.ImgHomeRoulette{
  max-width: 15vw;
}.ImgHomeCoin{
  max-width: 15vw;
}

.account a{
  margin: 1vw;
  margin-top: 2px;
  padding-left: 2px;
  color: #808080;
  text-decoration: none;
  font-size: 1.6vw;
}

.content{
  margin-top: 6%;
  margin-left: 25%;
  padding: 1em;
  padding-top: 2em;
}

.contentstat{
  margin-top: 6%;
  margin-left: 25%;
  padding: 3em;
  font-size: 1.2em;
}

.addMoney{
  margin-top: 6%;
  padding: 3em;
}

img.logo{
	max-width: 70%;
}


@font-face {
    font-family: 'GeosansLight';
    src: url('../font/GeosansLight.ttf') format('truetype');
}
h1{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #808080;
}

a{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #808080;
}

footer {

    position: fixed;
    bottom: 0;
    padding-left: 1%;
}
footer p{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #808080;
    font-size: 0.9em;
}
.txtZone{
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  border-radius: 10px;

  background: transparent;
  outline: none;

  border: solid 1px #808080;
}
.chat{
  position: fixed;
  color: black;
  top: 13%;
  width: 25%;
  padding: 0.3em;
  height: 80%;
  left: 0;
}
.messagesborder{
    border: 1px solid #808080;
    width: 100%;
    height: 80%;
}

.messages{
    word-wrap : break-word;
    position: fixed;
    bottom: 0;
    left: 1%;
    width: 100%;
    text-overflow: ellipsis;
}

*{box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

em.yellow{
  color: #cccc00;

}

.lev2{
  display: flex;
}

.graphjeu{
  width: 60%;
}

.statgraphjeu{
  padding-top: 15%;
}
.account{
  font-weight:bold;
  font-size: 1.5vw;
  padding-top: 3vh;
  width: 33.33%;
  text-align: right;
}

nav {
  margin-top: 0.5%;
  position: fixed;
  width: 6vw;
  height: 15vw;
  top:0;
  right: 0;
  margin-right: 2%;
  background-color: transparent;

}
nav h2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  background-color: transparent;

}

nav:hover h2{
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;

 }
nav:hover:active h2{
  transform: translateY(10px);
  box-shadow: 0px -1px 2px 0px ;
 }

.toggle{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  background-color: transparent;
}

#toggle:checked ~ul {
  height: 0%;

}

nav ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all .4s ease-out;
  height: 100%;


}
nav ul li {
  border-radius: 10px;
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  background: #EDD602;
  transition: white 3s ;
  box-shadow: 2px 2px 10px -2px );

}

nav ul li:hover {
  background: mediumorchid;
  transition: background .45s;
  background-color: black;

}

nav ul a {
  display: block;

  text-transform: lowercase;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  transition: color .3s;
}

.image-ronde{
  width : 6vw;
  height : 6vw;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
  background-color: transparent;
}
.topRoulette{
  display: flex;
}

.addBet{
  margin-top: 1em;
  height: 6.5vw;
}

.botRoulette{
  display: flex;
}
/*
.betZone{
  width: 100%;
  height:2%;

*/
.bet{
  margin-left: 30%;
}
.flexButtonRoulette{
  padding-top: 0.4%;
  display: flex;
  bottom: 0;

}
.canvasContainer{
  width: 66%;
  height: 32vh;
  padding-right: 1em;
}


#compte{
  font-size: 4em;
  width: 33%;
  text-align: center;
  padding-top: 10%;
}
.redTeam{
  width: 100%;
  height: 20%;
  height: 15%;
}
.messagesRed{
    border: 1px solid #808080;
    width: 100%;
    height: 80%;
}
.redTeamNames{

  width: 33.33%;
  height: 20%;
  height: 15%;

}

.blackTeam{
  width: 100%;
  height: 20%;
}
.messagesBlack{
    border: 1px solid #808080;
    width: 100%;
    height: 80%;

}
.blackTeamNames{

  width: 33.33%;
  height: 20%;
  height: 15%;

}
.mlTeam{
  width: 100%;
  height: 20%;
}
.messagesMl{
    border: 1px solid #808080;
    width: 100%;
    height: 80%;
}
.mlTeamNames{

  width: 33.33%;
  height: 20%;
  height: 15%;

}

#loader{
  position: fixed;
  background-color: #FFF;
  width: 100%;
  height: 100%;
}

.chatBet{
  width: 100%;
  padding: 15px 32px;
  display: inline-block;
  text-align: center;
}

button {
  border: 1px solid #000000;
  font-size: 1em;
  font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
  border-radius: 10px;
}
.Red {
  border-color: red;
  border-width: 2px;

}
.Black {
  border-color: black;
  border-width: 2px;

}
.Yellow {
  border-color: #EDD602;
  border-width: 2px;

}

.addCoinNumber {
  border: 1px solid #000000;
  font-size: 1.5em;
  font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
  border-radius: 10px;
  padding-left: 5px;
  width: 7em;
  height: 2.5em;
}
.addCoinSubmit {
  border: 1px solid #000000;
  font-size: 1.5em;
  font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
  border-radius: 10px;
  width: 5em;
  height: 2.5em;
}

.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 60%;
  background: #FFF;
}

.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transform-origin: center;
}
.progress .progress__item {
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border: 2px solid #EDD602;
  border-radius: 50%;
}
.progress .progress__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -3px;
  margin-left: 0px;
  width: 45px;
  height: 45px;
  border-top: solid 10px #EDD602;
  border-right: solid 10px #EDD602;
  border-top-right-radius: 100%;
  transform-origin: left bottom;
  -webkit-animation: spin 2s linear infinite;
}
.progress.float .progress__item:before {
  border-top-width: 2px;
  margin-top: 0px;
  height: 50px;
}
.progress.float.shadow:before {
  border-top-width: 2px;
  margin-top: -41px;
  height: 50px;
}
.progress.shadow:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -43px 0 0 12px;
  width: 45px;
  height: 45px;
  border-top: solid 10px #808080;
  border-right: solid 10px #808080;
  border-top-right-radius: 100%;
  z-index: -1;
  transform-origin: left bottom;
  -webkit-animation: spin 2s linear infinite;
}
.progress.shadow:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  color: #808080;
  text-align: center;
  line-height: 100px;
  border: 2px solid #808080;
  border-radius: 50%;
  margin: -40px 0 0 -40px;
  z-index: -1;
  transform-origin: center;
}
.progress.done .progress__item {
  opacity: 0;
  -webkit-animation: done 3.1s;
  transition: opacity 0.3s linear 3.1s;
}
.progress.done .progress__item:before {
  display: none;
}
.progress.done:before {
  display: none;
}
.progress.done:after {
  opacity: 0;
  -webkit-animation: done 3.1s;
  transition: opacity 0.15s linear 3.1s;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.buttonHome {
  border: 1px solid #000000;
  font-size: 1.5em;
  font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
  border-radius: 10px;
  padding-left: 5px;
  width: 7em;
  height: 2.5em;
  margin-left: 3.5vw;
}

.tophomeGame{
  height: 84%;
}
.buttonChat {
  border: 1px solid #808080;
  font-size: 1.5em;
  font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
  border-radius: 10px;
  padding-left: 5px;
  width: 100%;
  height: 50px;

}
.inputAccModif {

  border: 1px solid #000000;
  font-size: 1em;
  font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
  border-radius: 10px;
  width: 10vw;
  height: 2.5em;

}
.accModif {
  margin-left: 33.33%;
  margin-right: 33.33%;
  border: 1px solid #000000;
}
.fade {
  background:linear-gradient(#EDD602,white);
}
.footerFade {

}
.inputAccModifAvatar {

  border: 1px solid #000000;
  font-size: 1em;
  font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
  width: 17vw;
  height: 2.8vh;

}



#coin-flip-cont {
width: 200px;
height: 200px;
position: absolute;
top: calc(50% - 100px);
left: calc(50% - 100px);
}

#coin {
position: relative;
width: 200px;
transform-style: preserve-3d;
}

#coin .front, #coin .back {
position: absolute;
width: 200px;
height: 200px;
}

#coin .front {
transform: translateZ(1px);
border-radius: 50%;
background-color: yellow;
}

#coin .back {
transform: translateZ(-1px) rotateY(180deg);
border-radius: 50%;
background-color: grey;
}

#coin.animation900 {
-webkit-animation: rotate900 3s linear forwards;
animation: rotate900 3s linear forwards;
}

#coin.animation1080 {
-webkit-animation: rotate1080 3s linear forwards;
animation: rotate1080 3s linear forwards;
}

@-webkit-keyframes rotate900 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(900deg); -moz-transform: rotateY(900deg); transform: rotateY(900deg); }
}

@keyframes rotate900 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(900deg); -moz-transform: rotateY(900deg); transform: rotateY(900deg); }
}

@-webkit-keyframes rotate1080 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1080deg); -moz-transform: rotateY(1080deg); transform: rotateY(1080deg); }
}

@keyframes rotate1080 {
from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
to { -webkit-transform: rotateY(1080deg); -moz-transform: rotateY(1080deg); transform: rotateY(1080deg); }
}
