body{
    margin: 0;
    padding: 0;
    font-family: sans_serif;
    background: url(../Images/backgroud-index.png) no-repeat;
    background-size: cover;
}

.sectionindex{
  display: flex;
}

header{
  position: fixed;
  display: flex;
}

.menu{
padding-left: 10%;
padding-top: 2%;
width: 33%;
}

.menu a{
  margin: 1em;
  font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
  color: #B5B6B6;
  font-weight:bold;
  text-decoration: none;
  font-size: 1.4em;
}
.imglogoheader{
  max-width: 50%;
}

.logoheader{
  width: 33%;
}

.account{
  margin: 1em;
  font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;

  color: #B5B6B6;
  font-weight:bold;
  font-size: 1.5em;
  text-align: left;


}

.account a{
  text-decoration: none;
  margin: 1em;
}


.imageindex{
  max-width: 50%;
  margin-top: 20%;
}

.Connection{
  min-width: 50%;
  margin-top: 15%;
}

.signup{
  min-width: 50%;
  margin-top: 10%;
}

img.logo{
	max-width: 70%;
}

.welcome{
  font-size: 4em;
}

@font-face {
    font-family: 'GeosansLight';
    src: url('../font/GeosansLight.ttf') format('truetype');
}
h1
{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #B5B6B6;
}

a
{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #B5B6B6;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    padding-left: 1%;
}
footer p
{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #B5B6B6;
    font-size: 0.9em;
}

.errorred{
  padding-top: 2em;

}

.errorred p{
  font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
  color: red;
  font-size: 0.9em;

}
