body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
}

header{
  position: fixed;
  top: 0;
  display: flex;
  height: 15%;
  background:url(../Images/header.png) no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.menu{
  font-weight:bold;
  padding-top: 3vh;
  width: 33.33%;
  font-size: 1.5vw;
}

.menu a{
  margin: 1vw;
  color: #808080;
  text-decoration: none;
  font-size: 1.6vw;
}

.imglogoheader{
  max-width: 60%;
}

.logoheader{
  padding-top: 1%;
  width: 33.33%;

}

.account{
  font-weight:bold;
  font-size: 1.5vw;
  padding-top: 3vh;
  width: 33.33%;
  text-align: right;
}

.account a{
  margin: 1vw;
  margin-top: 2px;
  padding-left: 2px;
  color: #808080;
  text-decoration: none;
  font-size: 1.6vw;
}

.content{
  margin-top: 6%;
  margin-left: 25%;
  padding: 1em;
  padding-top: 2em;
}

.contentstat{
  margin-top: 6%;
  margin-left: 25%;
  padding: 3em;
  font-size: 1.2em;
}

.addMoney{
  margin-top: 6%;
  padding: 3em;
}

img.logo{
	max-width: 70%;
}


@font-face {
    font-family: 'GeosansLight';
    src: url('../font/GeosansLight.ttf') format('truetype');
}
h1{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #808080;
}

a{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #808080;
}

footer {
    position: fixed;
    bottom: 0;
    padding-left: 1%;
}
footer p{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #808080;
    font-size: 0.9em;
}
.txtZone{
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  border-radius: 10px;

  background: transparent;
  outline: none;

  border: solid 1px #808080;
}
.chat{
  position: fixed;
  color: black;
  top: 13%;
  width: 25%;
  padding: 0.3em;
  height: 80%;
  left: 0;
}
.messagesborder{
    border: 1px solid #808080;
    width: 100%;
    height: 80%;
}

.messages{
    word-wrap : break-word;
    position: fixed;
    bottom: 0;
    left: 1%;
    width: 100%;
    text-overflow: ellipsis;
}

*{box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

em.yellow{
  color: #EDD602;

}

.lev2{
  display: flex;
}

.graphjeu{
  width: 60%;
}

.statgraphjeu{
  padding-top: 15%;
}
.account{
  font-weight:bold;
  font-size: 1.5vw;
  padding-top: 3vh;
  width: 33.33%;
  text-align: right;
}

nav {
  margin-top: 0.5%;
  position: fixed;
  width: 6vw;
  height: 7vw;
  top:0;
  right: 0;
  margin-right: 2%;
  background-color: transparent;

}
nav h2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  background-color: transparent;
}

nav:hover h2{
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
 }
nav:hover:active h2{
  transform: translateY(10px);
  box-shadow: 0px -1px 2px 0px ;
 }

.toggle{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  background-color: transparent;
}

#toggle:checked ~ul {
  height: 0%;
}

nav ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all .4s ease-out;
  height: 100%;

}
nav ul li {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  background: #EDD602;
  transition: white 3s ;
  box-shadow: 2px 2px 10px -2px );

}

nav ul li:hover {
  background: mediumorchid;
  transition: background .45s;
  background-color: black;
}

nav ul a {
  display: block;

  text-transform: lowercase;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  transition: color .3s;
}

.image-ronde{
  width : 6vw;
  height : 6vw;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
  background-color: transparent;
}
.topRoulette{
  display: flex;
}

.addBet{
  background-color: red;
  height: 2.5vw;
}

.botRoulette{
  display: flex;
}




.canvasContainer{
  width: 66%;
  padding-right: 1em;
}


#compte{
  font-size: 4em;
  width: 33%;
  text-align: center;
  padding-top: 10%;
}
.redTeam{
  width: 100%;
  height: 20%;
  background-color: red;
  height: 15%;
}
.messagesRed{
    border: 1px solid #808080;
    width: 100%;
    height: 80%;
}
.redTeamNames{

  width: 33.33%;
  height: 20%;
  height: 15%;

}

.blackTeam{
  width: 100%;
  height: 20%;
  background-color: black;
}
.messagesBlack{
    border: 1px solid #808080;
    width: 100%;
    height: 80%;

}
.blackTeamNames{

  width: 33.33%;
  height: 20%;
  height: 15%;

}
.mlTeam{
  width: 100%;
  height: 20%;
  background-color: yellow;
}
.messagesMl{
    border: 1px solid #808080;
    width: 100%;
    height: 80%;
}
.mlTeamNames{

  width: 33.33%;
  height: 20%;
  height: 15%;

}

.chatBet{
  width: 100%;
  padding: 15px 32px;
  display: inline-block;
  text-align: center;
}
