body{
    margin: 0;
    padding: 0;
    background-color: #808080;
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
}

header{
  position: fixed;
  top: 0;
  display: flex;
  height: 15%;
  background: linear-gradient(#808080,90%, transparent);
}
.menu{
  font-weight:bold;
  padding-top: 3vh;
  width: 33.33%;
  font-size: 1.5vw;
}
.menu a{
  margin: 1vw;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.6vw;
}

.imglogoheader{
  max-width: 35%;

}
.logoheader{
  padding-top: 1%;
  width: 33.33%;
}

.account{
  font-weight:bold;
  font-size: 1.5vw;
  padding-top: 3vh;
  width: 33.33%;
  text-align: right;
}
.account a{
  margin: 1vw;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1.6vw;
}
.content{
  margin-top: 6%;
  margin-left: 25%;
  padding: 3em;
}


img.logo{
	max-width: 70%;
}


@font-face {
    font-family: 'GeosansLight';
    src: url('../font/GeosansLight.ttf') format('truetype');
}
h1
{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #808080;
}

a
{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #FFFFFF;
}

footer {
    position: fixed;
    bottom: 0;
    padding-left: 1%;
}
footer p
{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #ffffff;
    font-size: 0.9em;
}
.chat{
  position: fixed;
  color: black;
  top: 15%;
  width: 25%;
  padding: 0.3em;
  height: 87%;
  left: 0;
  background-color: green; 
}
.messagesborder{
    border: 1px solid #ffffff;
    width: 100%;
    height: 80%;
    position:relative;
    background-color:red ;
}

.messagesborder > .clear {
  clear: both;
  height: 0; overflow: hidden; /* Précaution pour IE 7 */
}

.messages{
    background-color:orange ;
    position: fixed;
    display: block;
    overflow-wrap: break-word;
    overflow: auto;
    max-width: 25%;
    bottom:15 %;
}
.messages > .clear {
  clear: both;
  height: 0; overflow: hidden; /* Précaution pour IE 7 */
}