body{
    margin: 0;
    padding: 0;
    background-color: #808080;
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
}

header{
  position: fixed;
  display: flex;
  height: 10%;
}
.menu{
padding-left: 10%;
padding-top: 2%;
width: 33.33%;
background-color: blue;
}
.menu a{
  margin: 1em;
  color: #FFFFFF;
  font-weight:bold;
  text-decoration: none;
  font-size: 1.4em;
}

.imglogoheader{
  max-width: 30%;

}
.logoheader{
  width: 33.33%;
  background-color: yellow;
}

.acount{
  color: #FFFFFF;
  font-weight:bold;
  font-size: 1.3em;
  padding-top: 2%;
  width: 33.33%;
  background-color: red;
  padding-left: 5%;
}
.acount a{
  text-decoration: none;
  margin-left: 1em;
  margin-right: 1em;
}


img.logo{
	max-width: 70%;
}


@font-face {
    font-family: 'GeosansLight';
    src: url('../font/GeosansLight.ttf') format('truetype');
}
h1
{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #808080;
}

a
{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #FFFFFF;
}

footer {
    display: flex;
    position: absolute;
    bottom: 0;
    padding-left: 1%;
}
footer p
{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #808080;
    font-size: 0.9em;
}
