body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
}

header{
  position: fixed;
  top: 0;
  display: flex;
  height: 15%;
  background:url(../Images/header.png) no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.menu{
  font-weight:bold;
  padding-top: 3vh;
  width: 33.33%;
  font-size: 1.5vw;
}

.menu a{
  margin: 1vw;
  color: #808080;
  text-decoration: none;
  font-size: 1.6vw;
}

.imglogoheader{
  max-width: 60%;
}

.logoheader{
  padding-top: 1%;
  width: 33.33%;

}

.account{
  font-weight:bold;
  font-size: 1.5vw;
  padding-top: 3vh;
  width: 33.33%;
  text-align: right;
}

.account a{
  margin: 1vw;
  margin-top: 2px;
  padding-left: 2px;
  color: #808080;
  text-decoration: none;
  font-size: 1.6vw;
}

.content{
  margin-top: 6%;
  margin-left: 25%;
  padding: 3em;
}

.contentstat{
  margin-top: 6%;
  margin-left: 25%;
  padding: 3em;
  font-size: 1.2em;
}

.addMoney{
  margin-top: 6%;
  padding: 3em;
}

img.logo{
	max-width: 70%;
}


@font-face {
    font-family: 'GeosansLight';
    src: url('../font/GeosansLight.ttf') format('truetype');
}
h1{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #808080;
}

a{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #808080;
}

footer {
    position: fixed;
    bottom: 0;
    padding-left: 1%;
}
footer p{
    font-family: 'GeosansLight', "Arial Black", Arial, Verdana, sans-serif;
    color: #808080;
    font-size: 0.9em;
}
.txtZone{
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  border-radius: 10px;

  background: transparent;
  outline: none;

  border: solid 1px #808080;
}
.chat{
  position: fixed;
  color: black;
  top: 13%;
  width: 25%;
  padding: 0.3em;
  height: 80%;
  left: 0;
}
.messagesborder{
    border: 1px solid #808080;
    width: 100%;
    height: 80%;
}

.messages{
    word-wrap : break-word;
    position: fixed;
    bottom: 0;
    left: 1%;
    width: 24.6%;
    text-overflow: ellipsis;
}
/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: transparent;
		box-shadow: inset 0 0 0 3px #808080;
		color: #808080 !important;
		border-radius: 30px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-size: .75em;
		font-weight: 400;
		height: 3.75em;
		line-height: 3.85em;
		letter-spacing: 2px;
		padding: 0 4em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: rgba(108, 192, 145, 0.15);
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: rgba(108, 192, 145, 0.15);
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		button.icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		button.fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		button.small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		button.alt,
		.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 3px #FFF;
			color: #fff !important;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background-color: #7ec89e;
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			button.alt:active,
			.button.alt:active {
				background-color: #7ec89e;
			}

			input[type="submit"].alt.icon:before,
			input[type="reset"].alt.icon:before,
			input[type="button"].alt.icon:before,
			button.alt.icon:before,
			.button.alt.icon:before {
				color: #bbb;
			}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		button.special,
		.button.special {
			background-color: #6cc091;
			color: #ffffff !important;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			button.special:hover,
			.button.special:hover {
				background-color: #7ec89e;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			button.special:active,
			.button.special:active {
				background-color: #5ab884;
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		button.disabled,
		button:disabled,
		.button.disabled,
		.button:disabled {
			background-color: #9a9a9a !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
			color: #fff !important;
			cursor: default;
			opacity: 0.25;
		}

		@media screen and (max-width: 480px) {

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				padding: 0;
				width: 100%;
			}

		}

*{box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

em.yellow{
  color: #EDD602;

}

.lev2{
  display: flex;
}

.graphjeu{
  width: 60%;
}

.statgraphjeu{
  padding-top: 15%;
}
.account{
  font-weight:bold;
  font-size: 1.5vw;
  padding-top: 3vh;
  width: 33.33%;
  text-align: right;
}

nav {
  margin-top: 0.5%;
  position: fixed;
  width: 5vw;
  height: 10vw;
  top:0;
  right: 0;
  margin-right: 1.5%;

}
nav h2 {
  position: relative;
  text-transform: uppercase;
  color: ivory;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0,0,0,.35);
  transition: all .4s;
}

nav:hover h2{
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,.35);
 }
nav:hover:active h2{
  transform: translateY(10px);
  box-shadow: 0px -1px 2px 0px rgba(0,0,0,.35);
 }

input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

#toggle:checked ~ul {
  height: 0%;
}

nav ul {
  padding-left: 0;
  padding-top: 0;
  margin-top: 0;
  list-style: none;
  overflow: hidden;
  text-align: right;
  margin-bottom: 22px;
  text-align: center;
  transition: all .4s ease-out;
  height: 100%;

}
nav ul li {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
  width: 100%;
  margin: 0;
  margin-bottom: 5px;
  background: #EDD602;
  transition: background 3s;
  box-shadow: 2px 2px 10px -2px rgba(0,0,0,.35);
}

nav ul li:hover {
  background: mediumorchid;
  transition: background .45s;
}

nav ul a {
  display: block;

  text-transform: lowercase;
  font-size: 18px;
  font-weight: 200;
  text-decoration: none;
  transition: color .3s;
}

.image-ronde{
  width : 5vw;
  height : 5vw;
  border: none;
  -moz-border-radius : 75px;
  -webkit-border-radius : 75px;
  border-radius : 75px;
}
